<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangMan | Web</title>
    <link rel="stylesheet" href="/static/assets/css/app.css">
</head>

<body>
    <nav>
        <div class="logo">
            <span>HANG</span>
            <span class="ph">HUB</span>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="box text-center p-3">
                    <p class="letters">{{.Game.Word}}</p>
                    <hr>
                    <h4 class="text-white"></h4>
                    <form action="/hangman" method="post" class="my-2 d-grid playForm">
                        <input name="letter" type="text" class="box" min="1" required autofocus placeholder="Type a word or letter">
                        <button class="playBtn hoverable translate" type="submit"><span>Try</span></button>
                    </form>
                    <span class="error mt-2">{{.Error}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box p-3 mb-3 text-center">
                    <h2 class="text-white">Used letters</h2>
                    <hr>
                    <p class="letters used">{{.Game.PlayedLetters}}</p>
                </div>
                <div class="box p-3 mb-3">
                    <h2 class="text-center text-white">Attemps left : {{.Game.Attempts}}</h2>
                    <hr>
                    <svg class="hangman" viewBox="0 0 96 96">
                        <line class="{{if le .Game.Attempts 0}} selected {{end}}" x1="62" y1="70" x2="56" y2="56"></line>
                        <line class="{{if le .Game.Attempts 1}} selected {{end}}" x1="50" y1="70" x2="56" y2="56"></line>
                        <line class="{{if le .Game.Attempts 2}} selected {{end}}" x1="68" y1="46" x2="56" y2="40"></line>
                        <line class="{{if le .Game.Attempts 3}} selected {{end}}" x1="44" y1="46" x2="56" y2="40"></line>
                        <line class="{{if le .Game.Attempts 4}} selected {{end}}" x1="56" y1="40" x2="56" y2="56"></line>
                        <circle class="{{if le .Game.Attempts 5}} selected {{end}}" cx="56" cy="34" r="6"></circle>
                        <line class="{{if le .Game.Attempts 6}} selected {{end}}" x1="56" y1="16" x2="56" y2="28"></line>
                        <line class="{{if le .Game.Attempts 7}} selected {{end}}" x1="24" y1="24" x2="32" y2="16"></line>
                        <line class="{{if le .Game.Attempts 8}} selected {{end}}" x1="21" y1="16" x2="60" y2="16"></line>
                        <line class="{{if le .Game.Attempts 8}} selected {{end}}" x1="24" y1="80" x2="24" y2="16"></line>
                        <line class="{{if le .Game.Attempts 9}} selected {{end}}" x1="16" y1="80" x2="32" y2="80"></line>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</body>

</html>