<!DOCTYPE html>
<html lang="en">
  {{template "head"}}

  <body>
    {{template "nav"}}

    <div class="container d-flex full-height">
      <div class="login-modal box">
        <div class="logo">
          <span>HANG</span>
          <span class="ph">HUB</span>
        </div>
        <h1>Join us right now !</h1>
        <h4>
          All your data is stored in France for your security and anonymity !
        </h4>
        <div class="login-box">
          <form action="/register" method="post">
            <div class="user-box">
              <input type="text" name="name" required />
              <label>Name</label>
            </div>
            <div class="user-box">
              <input type="email" name="email" required />
              <label>Email</label>
            </div>
            <div class="user-box">
              <input type="password" name="password" required />
              <label>Password</label>
            </div>
            <div class="user-box">
              <input type="password" name="password-confirm" required />
              <label>Password confirm</label>
            </div>
            <span class="error">{{.Error}}</span>
            <div class="d-grid">
              <button type="submit" href="" class="btn-grey hoverable">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
