<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "nav"}}
    <div class="container d-flex full-height">
      <div class="login-modal box">
        <div class="logo">
          <span>STAT</span>
          <span class="ph">ISTICS</span>
        </div>

        {{if .Logged }}
        <h1>{{.Usermane}}</h1>
        <h4>Win : {{.Win}}</h4>
        <h4>Loose : {{.Loose}}</h4>
        <div class="modal-btn-box">
          <a class="btn-grey hoverable" href="/dictionary"><span>Play new game</span></a>
          <a class="btn-grey hoverable" href="/"
            ><span>Home</span></a>
        </div>
        <form action="/logout" class="d-grid" method="post">
          <button type="submit" class="btn-grey hoverable">Logout</button>
        </form>
      </div>

      {{else}}
      <h4>You need to login to see your statistics.</h4>
      <div class="modal-btn-box">
        <a class="btn-grey hoverable" href="/login"><span>Login</span></a>
        <a class="btn-grey hoverable" href="/"
          ><span>Home</span></a>
      </div>
      {{end}}
    </div>
    </div>
    </div>
  </body>
</html>